/*=========Variables===========*/
$primary-color: #FECB44;
$band-color: #599B86;
$text-size:20px;
$menu-background-color:(
    #FCDFDB
    #FFF5FE
    #EDEFEF
    #FDFFFD
);
$menu-text-color:(
    #3B1519
    #C67616
    #299FF8
    #50A047
);
$gradient-color:(
    nth($menu-text-color,1),
    #704FCC, 
    nth($menu-text-color,2),
    nth($menu-text-color,3),
    #0329DC,  
    #B5F47E,
    nth($menu-text-color,4)
    );

/*========Placeholders========*/
%flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
%body-init{
    margin:0;
    padding:0;
    width: 100%;
    height: auto;
    @extend %flex;
    flex-direction: column;
    font-family: 'Nobile', sans-serif;
}
%menu-init{
    width:75%;
    text-align: center;
}
%underline-hover{
    animation-name: underliner;
    animation-timing-function: linear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;   
}
%underline-hover-note{
    @extend %underline-hover;
    background: linear-gradient(90deg, rgba(246,70,70,1) 15%, rgba(253,85,34,1) 38%, rgba(252,176,69,1) 100%);
}
%underline-hover-chic{
    @extend %underline-hover;
    background: linear-gradient(321deg, nth($gradient-color,2) 10%, nth($gradient-color,3) 60%);
}
%underline-hover-delice{
    @extend %underline-hover;
    background: linear-gradient(321deg, nth($gradient-color,4) 25%, nth($gradient-color,5) 52%);
}
%underline-hover-palette{
    @extend %underline-hover;
    background: linear-gradient(321deg, nth($gradient-color,6) 29%, nth($gradient-color,7) 59%);
}
%caption-underline-note{
    content: "";
    height: 0.3rem;
    position: absolute;
    &:hover{
        @extend %underline-hover-note;
     } 
}
%caption-underline-chic{
    content: "";
    height: 0.3rem;
    position: absolute;
    &:hover{
        @extend %underline-hover-chic;
     }
}
%caption-underline-delice{
    content: "";
    height: 0.3rem;
    position: absolute;
    &:hover{
        @extend %underline-hover-delice;
     }
}
%caption-underline-palette{
    content: "";
    height: 0.3rem;
    position: absolute;
    &:hover{
        @extend %underline-hover-palette;
     }
}

%svg-template{
    width: 18%;
    position: relative;
    top:4rem;
    margin:0 10rem;
}
/*============Keyframes========*/
@keyframes zoom-menu{
    0%{
        transform: scale(1);
        opacity:(1);
    }

    50%{
        transform:scale(1.1);
    }

    100%{
        transform: scale(1.2);
    }
}
@keyframes wiggle{
    0% {
        transform: rotate(2deg);
    }
    25% {
        transform: rotate(-2deg);
    }
     50% {
         transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes suspension{
    0%{
        transform:scale(0.5);
        opacity: 0.3;
    }
    50%{
        transform-origin: left 50%;
        transform:translateY(-5px) scale(1);
        opacity: 1;
    }
    100%{
        transform:scale(0.5);
        opacity: 0.3;
        transform-origin: left 50%;
    }
}
@keyframes underliner{
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }
    100%{
        transform: scaleX(1);
        transform-origin: left;
    }
}



/*========Template Body========*/
body{
    @extend %body-init;
    font-size:$text-size;
    header, p, nav, footer{
        width: 100%;
        background-color: $band-color;
        @extend %body-init;
    }
    ul{
  
        list-style: none;
        padding-left:0;
        margin:0;
        li{ 
            @extend %flex;
        }
    }
    a, p{
        text-decoration: none;
        color:$primary-color;
    }
    h1{
        font-size:$text-size*2.5;
    }
    p{
        font-size: $text-size*1.5;
    }

}

/*===========Template Index Main========*/
.menu-card{
    @extend %menu-init;  
    .row-first{
        margin-bottom: -35rem!important; //Eliminate space between 2 rows
    }
    .row{
        @extend %flex;
        height: 80rem;
        margin:-15rem 0; /*Canceled the margin created by height*/
        li{
            box-shadow: 0 0 20px 0 hsla(90,1%,60%,.6);
            width:50%;
            height: 50%;
            margin:0 2rem;
            a{
                font-size:$text-size*1.2;
            }
            h2{
                font-weight: 400;
            }
            h3{
                font-size:$text-size*2;
            }
        }
        .zoom-effect:hover{
            opacity:0.5;
            animation-name: zoom-menu;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

.menu-card__first{
    background-color: nth($menu-background-color, 1);
    h2, h3{
        color:nth($menu-text-color, 1);
    }
    h2{
        font-family:'Devonshire', cursive;
    }
    h3{
        text-transform: uppercase; 
        font-family: 'Tillana', cursive;
    }
    .fas{
        background: rgb(246,70,70);
        background: -moz-linear-gradient(90deg, rgba(246,70,70,1) 15%, rgba(253,85,34,1) 38%, rgba(252,176,69,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(246,70,70,1) 15%, rgba(253,85,34,1) 38%, rgba(252,176,69,1) 100%);
        background: linear-gradient(90deg, rgba(246,70,70,1) 15%, rgba(253,85,34,1) 38%, rgba(252,176,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f64646",endColorstr="#fcb045",GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    table{ //Personnalisation of menu card
        font-family: 'Kalam', cursive;
        .first-caption{
            &::before{
               @extend %caption-underline-note;
               bottom:15rem;
               width: 5.5%;
            }                   
        }
        .second-caption{
            &::before{
                @extend %caption-underline-note;
                bottom:-12rem;
                width: 10.3%;
            }
        }
        .third-caption{
            &::before{
                @extend %caption-underline-note;
                bottom:-34.8rem;
                width: 13.3%;
            }
        }
    } 
}
.menu-card__second{
    background-color: nth($menu-background-color, 2);
    h2{
        font-family: 'Croissant One', cursive;
        background: linear-gradient(321deg, nth($gradient-color,2) 30%, nth($gradient-color,3) 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-family: 'Libre Baskerville', serif;
        color:nth($menu-text-color, 2);
    } 
    i{
        visibility: hidden;/*Mettre au même niveau les 2 menus adjacent*/
    }
    table{ //Personnalisation of menu card
        font-family: 'Libre Baskerville', serif;
        &:nth-child(3){
            color:nth($menu-text-color,2 );
        }
        &:nth-child(6){
            color:#A6699A;
        }
        &:nth-child(9){
            color:nth($gradient-color,2 );
        }
        .first-caption{
            &::before{
               @extend %caption-underline-chic;
               bottom:20.5rem;
               width: 25.5%;
            }                   
        }
        .second-caption{
            &::before{
                @extend %caption-underline-chic;
                bottom:0rem;
                width: 18.4%;
            }
        }
        .third-caption{
            &::before{
                @extend %caption-underline-chic;
                bottom:-20.8rem;
                width: 22.6%;
            }
        }
    } 
}
.menu-card__third{
    background-color: nth($menu-background-color, 3);
    h2{
        font-family: 'Parisienne', cursive;
        background: linear-gradient(321deg, nth($gradient-color,4) 25%, nth($gradient-color,5) 52%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-family: 'Tillana', cursive;
        color:nth($menu-text-color, 3);
    } 
    table{ //Personnalisation of menu card
        font-family: 'Kalam', cursive;
        caption{
            font-weight: 400!important;
        }
        .td{
            padding-right: 17rem!important; //Put the price more to right
        }
        .first-caption{
            &::before{
               @extend %caption-underline-delice;
               bottom:20.5rem;
               width: 19.5%;
            }                   
        }
        .second-caption{
            &::before{
                @extend %caption-underline-delice;
                bottom:-1rem;
                width: 18%;
            }
        }
        .third-caption{
            &::before{
                @extend %caption-underline-delice;
                bottom:-22.5rem;
                width: 17.3%;
            }
        }
    }
}
.menu-card__fourth{
    background-color: nth($menu-background-color, 4);
    h2{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(321deg, nth($gradient-color,6) 29%, nth($gradient-color,7) 59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-family: 'Tillana', cursive;
        color:nth($menu-text-color, 4);
    }
    table{ //Personnalisation of menu card
        font-family: 'Kalam', cursive;
        caption{

            font-weight: 400!important;
        }
        .first-caption{
            &::before{
               @extend %caption-underline-palette;
               bottom:20.3rem;
               width: 8%;
            }                   
        }
        .second-caption{
            &::before{
                @extend %caption-underline-palette;
                bottom:-1.3rem;
                width: 16.3%;
            }
        }
        .third-caption{
            &::before{
                @extend %caption-underline-palette;
                bottom:-22.8rem;
                width: 17.5%;
            }
        }
    } 
}
aside{
    width:20%; 
    .btn{
        text-align: center;
        border-radius: 10px;
        margin-bottom:4rem;
        height: 5rem;
        line-height: 5rem; //Center the text in btn
        span{        
            position: absolute;
            right:40rem;
            display: block;
            animation-name: suspension;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-timing-function: linear;
            &:nth-child(2){
                right:39.5rem;
                animation-delay: 300ms;
            }
            &:nth-child(3){
                right:39rem;
                animation-delay: 500ms;       
            }
        }
    }    
}

/*===========Template Card=========*/
main{
    width: 70%;
    aside{
        @extend %body-init; 
        .back-btn{ //Change the back button template
            position: relative;
            margin-left:auto;
            margin-right: auto;
            width: 150%;
            margin-bottom: 7rem;
        }
    }
    &>h3{ //Title in first menu
        text-align: center;
        font-size: $text-size*2;
    }
}
.card{  
    box-shadow: 0 0 20px 0 hsla(90,1%,60%,.6);
    text-align: center;
    margin:3rem 0;
    padding-top:2rem;
  
    h2{
        font-size: $text-size*2;
        font-weight: 400;
    }
    table{
        width: 75%;
        border-spacing: 2rem;
        margin:0 auto!important;
        caption{
            margin:2rem;
            font-size: $text-size*1.5;
            font-weight: bold;
        }
        td{
            text-align: left;
        }
        td:nth-child(2){
            font-weight: bold;
        }
        &:nth-child(4){
            margin-bottom: 2rem;
        }
    }
}

/*============First Menu personnalisation==========*/
#text-transform__title{
    text-transform: none;
    margin:1rem;
    font-family:'Devonshire', cursive;
    font-size: $text-size*2;
    font-weight: 400;
}
#card-first--title{
   @extend %flex;
}
/*============Second Menu personnalisation==========*/


/*===========Template Footer=========*/
.footer{
    width: 100%;
    height: 4rem;
    @extend %flex;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    background-color: $band-color;
    font-size:$text-size*1.5;
    li{
        margin:0 2rem;
    }

}

.wiggle-effect:hover{
    animation-name: wiggle; 
    animation-duration:100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}        

/*========Template Mentions========*/
.mentions-legales{
    margin-left:10rem;
    margin-right:10rem;
    p, a{
        display: inline-block;
        line-height: 2rem;
        color:black;
        font-size: $text-size;
        background-color:inherit;
    }
    h5{
        text-align: center;
        font-size: $text-size*2;
    }
    h6{
        font-size: $text-size*1.5;
    }
    
}

/*=======SVG========*/

//Note card svg
.note-menu__svg{
    fill:nth($menu-text-color,1);
}
#line-note{
    width: 24%;
    position: relative;
    top:4rem;
    margin:0 8rem;
}

//Chic card svg
.chic-menu__svg--first{
    fill:nth($menu-text-color,2);
}
.chic-menu__svg--second{
    fill:#A6699A;
}
.chic-menu__svg--third{
    fill:nth($gradient-color,2);
}
#line-chic{
    @extend %svg-template;
    width: 13%;
    margin:0 12rem;
}

//Délice card svg
.delice-menu__svg--first{
    fill: nth($gradient-color,5);
}
.delice-menu__svg--second{
    fill: #0770F2;
}
.delice-menu__svg--third{
    fill: nth($menu-text-color,3);
}
#line-delice{
    @extend %svg-template;
}

//Palette card svg
.cls-1{fill:#8dd368;}.cls-2{fill:#4a9c42;}.cls-3{fill:#9fe46f;}.cls-4{fill:#77c35a;}.cls-5{fill:#5aa94b;}.cls-6{fill:#69b554;}.cls-7{fill:#b5f47e;}
#line-palette{
    @extend %svg-template;
}