@charset "UTF-8";
/*=========Variables===========*/
/*========Placeholders========*/
body, body header, body p, body nav, body footer, main aside, body ul li, .menu-card .row, #card-first--title, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body, body header, body p, body nav, body footer, main aside {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nobile', sans-serif;
}

.menu-card {
  width: 75%;
  text-align: center;
}

.menu-card__first table .first-caption:hover::before, .menu-card__first table .second-caption:hover::before, .menu-card__first table .third-caption:hover::before, .menu-card__second table .first-caption:hover::before, .menu-card__second table .second-caption:hover::before, .menu-card__second table .third-caption:hover::before, .menu-card__third table .first-caption:hover::before, .menu-card__third table .second-caption:hover::before, .menu-card__third table .third-caption:hover::before, .menu-card__fourth table .first-caption:hover::before, .menu-card__fourth table .second-caption:hover::before, .menu-card__fourth table .third-caption:hover::before {
  -webkit-animation-name: underliner;
          animation-name: underliner;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-card__first table .first-caption:hover::before, .menu-card__first table .second-caption:hover::before, .menu-card__first table .third-caption:hover::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #f64646), color-stop(38%, #fd5522), to(#fcb045));
  background: linear-gradient(90deg, #f64646 15%, #fd5522 38%, #fcb045 100%);
}

.menu-card__second table .first-caption:hover::before, .menu-card__second table .second-caption:hover::before, .menu-card__second table .third-caption:hover::before {
  background: linear-gradient(321deg, #704FCC 10%, #C67616 60%);
}

.menu-card__third table .first-caption:hover::before, .menu-card__third table .second-caption:hover::before, .menu-card__third table .third-caption:hover::before {
  background: linear-gradient(321deg, #299FF8 25%, #0329DC 52%);
}

.menu-card__fourth table .first-caption:hover::before, .menu-card__fourth table .second-caption:hover::before, .menu-card__fourth table .third-caption:hover::before {
  background: linear-gradient(321deg, #B5F47E 29%, #50A047 59%);
}

.menu-card__first table .first-caption::before, .menu-card__first table .second-caption::before, .menu-card__first table .third-caption::before {
  content: "";
  height: 0.3rem;
  position: absolute;
}

.menu-card__second table .first-caption::before, .menu-card__second table .second-caption::before, .menu-card__second table .third-caption::before {
  content: "";
  height: 0.3rem;
  position: absolute;
}

.menu-card__third table .first-caption::before, .menu-card__third table .second-caption::before, .menu-card__third table .third-caption::before {
  content: "";
  height: 0.3rem;
  position: absolute;
}

.menu-card__fourth table .first-caption::before, .menu-card__fourth table .second-caption::before, .menu-card__fourth table .third-caption::before {
  content: "";
  height: 0.3rem;
  position: absolute;
}

#line-chic, #line-delice, #line-palette {
  width: 18%;
  position: relative;
  top: 4rem;
  margin: 0 10rem;
}

/*============Keyframes========*/
@-webkit-keyframes zoom-menu {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes zoom-menu {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes suspension {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    -webkit-transform-origin: left 50%;
            transform-origin: left 50%;
    -webkit-transform: translateY(-5px) scale(1);
            transform: translateY(-5px) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
    -webkit-transform-origin: left 50%;
            transform-origin: left 50%;
  }
}

@keyframes suspension {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    -webkit-transform-origin: left 50%;
            transform-origin: left 50%;
    -webkit-transform: translateY(-5px) scale(1);
            transform: translateY(-5px) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
    -webkit-transform-origin: left 50%;
            transform-origin: left 50%;
  }
}

@-webkit-keyframes underliner {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@keyframes underliner {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

/*========Template Body========*/
body {
  font-size: 20px;
}

body header, body p, body nav, body footer {
  width: 100%;
  background-color: #599B86;
}

body ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body a, body p {
  text-decoration: none;
  color: #FECB44;
}

body h1 {
  font-size: 50px;
}

body p {
  font-size: 30px;
}

/*===========Template Index Main========*/
.menu-card .row-first {
  margin-bottom: -35rem !important;
}

.menu-card .row {
  height: 80rem;
  margin: -15rem 0;
  /*Canceled the margin created by height*/
}

.menu-card .row li {
  -webkit-box-shadow: 0 0 20px 0 rgba(153, 154, 152, 0.6);
          box-shadow: 0 0 20px 0 rgba(153, 154, 152, 0.6);
  width: 50%;
  height: 50%;
  margin: 0 2rem;
}

.menu-card .row li a {
  font-size: 24px;
}

.menu-card .row li h2 {
  font-weight: 400;
}

.menu-card .row li h3 {
  font-size: 40px;
}

.menu-card .row .zoom-effect:hover {
  opacity: 0.5;
  -webkit-animation-name: zoom-menu;
          animation-name: zoom-menu;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-card__first {
  background-color: #FCDFDB;
}

.menu-card__first h2, .menu-card__first h3 {
  color: #3B1519;
}

.menu-card__first h2 {
  font-family: 'Devonshire', cursive;
}

.menu-card__first h3 {
  text-transform: uppercase;
  font-family: 'Tillana', cursive;
}

.menu-card__first .fas {
  background: #f64646;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #f64646), color-stop(38%, #fd5522), to(#fcb045));
  background: linear-gradient(90deg, #f64646 15%, #fd5522 38%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f64646",endColorstr="#fcb045",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__first table {
  font-family: 'Kalam', cursive;
}

.menu-card__first table .first-caption::before {
  bottom: 15rem;
  width: 5.5%;
}

.menu-card__first table .second-caption::before {
  bottom: -12rem;
  width: 10.3%;
}

.menu-card__first table .third-caption::before {
  bottom: -34.8rem;
  width: 13.3%;
}

.menu-card__second {
  background-color: #FFF5FE;
}

.menu-card__second h2 {
  font-family: 'Croissant One', cursive;
  background: linear-gradient(321deg, #704FCC 30%, #C67616 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__second h3 {
  font-family: 'Libre Baskerville', serif;
  color: #C67616;
}

.menu-card__second i {
  visibility: hidden;
  /*Mettre au même niveau les 2 menus adjacent*/
}

.menu-card__second table {
  font-family: 'Libre Baskerville', serif;
}

.menu-card__second table:nth-child(3) {
  color: #C67616;
}

.menu-card__second table:nth-child(6) {
  color: #A6699A;
}

.menu-card__second table:nth-child(9) {
  color: #704FCC;
}

.menu-card__second table .first-caption::before {
  bottom: 20.5rem;
  width: 25.5%;
}

.menu-card__second table .second-caption::before {
  bottom: 0rem;
  width: 18.4%;
}

.menu-card__second table .third-caption::before {
  bottom: -20.8rem;
  width: 22.6%;
}

.menu-card__third {
  background-color: #EDEFEF;
}

.menu-card__third h2 {
  font-family: 'Parisienne', cursive;
  background: linear-gradient(321deg, #299FF8 25%, #0329DC 52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__third h3 {
  font-family: 'Tillana', cursive;
  color: #299FF8;
}

.menu-card__third table {
  font-family: 'Kalam', cursive;
}

.menu-card__third table caption {
  font-weight: 400 !important;
}

.menu-card__third table .td {
  padding-right: 17rem !important;
}

.menu-card__third table .first-caption::before {
  bottom: 20.5rem;
  width: 19.5%;
}

.menu-card__third table .second-caption::before {
  bottom: -1rem;
  width: 18%;
}

.menu-card__third table .third-caption::before {
  bottom: -22.5rem;
  width: 17.3%;
}

.menu-card__fourth {
  background-color: #FDFFFD;
}

.menu-card__fourth h2 {
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(321deg, #B5F47E 29%, #50A047 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__fourth h3 {
  font-family: 'Tillana', cursive;
  color: #50A047;
}

.menu-card__fourth table {
  font-family: 'Kalam', cursive;
}

.menu-card__fourth table caption {
  font-weight: 400 !important;
}

.menu-card__fourth table .first-caption::before {
  bottom: 20.3rem;
  width: 8%;
}

.menu-card__fourth table .second-caption::before {
  bottom: -1.3rem;
  width: 16.3%;
}

.menu-card__fourth table .third-caption::before {
  bottom: -22.8rem;
  width: 17.5%;
}

aside {
  width: 20%;
}

aside .btn {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 4rem;
  height: 5rem;
  line-height: 5rem;
}

aside .btn span {
  position: absolute;
  right: 40rem;
  display: block;
  -webkit-animation-name: suspension;
          animation-name: suspension;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

aside .btn span:nth-child(2) {
  right: 39.5rem;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

aside .btn span:nth-child(3) {
  right: 39rem;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

/*===========Template Card=========*/
main {
  width: 70%;
}

main aside .back-btn {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  margin-bottom: 7rem;
}

main > h3 {
  text-align: center;
  font-size: 40px;
}

.card {
  -webkit-box-shadow: 0 0 20px 0 rgba(153, 154, 152, 0.6);
          box-shadow: 0 0 20px 0 rgba(153, 154, 152, 0.6);
  text-align: center;
  margin: 3rem 0;
  padding-top: 2rem;
}

.card h2 {
  font-size: 40px;
  font-weight: 400;
}

.card table {
  width: 75%;
  border-spacing: 2rem;
  margin: 0 auto !important;
}

.card table caption {
  margin: 2rem;
  font-size: 30px;
  font-weight: bold;
}

.card table td {
  text-align: left;
}

.card table td:nth-child(2) {
  font-weight: bold;
}

.card table:nth-child(4) {
  margin-bottom: 2rem;
}

/*============First Menu personnalisation==========*/
#text-transform__title {
  text-transform: none;
  margin: 1rem;
  font-family: 'Devonshire', cursive;
  font-size: 40px;
  font-weight: 400;
}

/*===========Template Footer=========*/
.footer {
  width: 100%;
  height: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #599B86;
  font-size: 30px;
}

.footer li {
  margin: 0 2rem;
}

.wiggle-effect:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/*========Template Mentions========*/
.mentions-legales {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.mentions-legales p, .mentions-legales a {
  display: inline-block;
  line-height: 2.5rem;
  color: black;
  font-size: 20px;
  background-color: inherit;
}

.mentions-legales h5 {
  text-align: center;
  font-size: 40px;
}

.mentions-legales h6 {
  font-size: 30px;
}

/*=======SVG========*/
.note-menu__svg {
  fill: #3B1519;
}

#line-note {
  width: 24%;
  position: relative;
  top: 4rem;
  margin: 0 8rem;
}

.chic-menu__svg--first {
  fill: #C67616;
}

.chic-menu__svg--second {
  fill: #A6699A;
}

.chic-menu__svg--third {
  fill: #704FCC;
}

#line-chic {
  width: 13%;
  margin: 0 12rem;
}

.delice-menu__svg--first {
  fill: #0329DC;
}

.delice-menu__svg--second {
  fill: #0770F2;
}

.delice-menu__svg--third {
  fill: #299FF8;
}

.cls-1 {
  fill: #8dd368;
}

.cls-2 {
  fill: #4a9c42;
}

.cls-3 {
  fill: #9fe46f;
}

.cls-4 {
  fill: #77c35a;
}

.cls-5 {
  fill: #5aa94b;
}

.cls-6 {
  fill: #69b554;
}

.cls-7 {
  fill: #b5f47e;
}

/*=========Media queries========*/
@media (max-width: 540px) {
  body footer li {
    font-size: 20px;
    margin: 0 0.5rem !important;
  }
  body footer .wiggle-effect {
    -webkit-animation-name: wiggle;
            animation-name: wiggle;
    -webkit-animation-duration: 100ms;
            animation-duration: 100ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  body aside {
    margin-bottom: 2rem;
    width: 50%;
  }
  body aside p {
    font-size: 20px;
    height: 3rem !important;
  }
  body aside p span {
    position: relative;
    left: 11.5rem;
    top: 111.5rem;
  }
  body aside p span:nth-child(1) {
    left: 11rem;
  }
  body aside p span:nth-child(3) {
    left: 12rem;
  }
  .menu-card {
    margin: 2rem 0;
  }
  .menu-card .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50rem;
    margin: 0;
  }
  .menu-card .row li {
    margin: 1rem;
    width: 100%;
    height: 100%;
  }
  .menu-card .row li a {
    font-size: 20px;
  }
  .menu-card .row-first {
    margin-bottom: 0 !important;
  }
  main {
    width: 90%;
    font-size: 15.38462px;
  }
  main .card .card__first--title, main .card #card-first--title {
    font-size: 13.33333px;
  }
  main .card .card__first--title #text-transform__title, main .card #card-first--title #text-transform__title {
    font-size: 30px;
  }
  main .card h2 {
    font-size: 26px;
  }
  main .card table {
    width: 100%;
    border-spacing: 1rem;
  }
  main .card table caption {
    margin: 0;
    font-size: 20px;
  }
  main #line-note, main #line-delice, main #line-palette {
    margin: 0;
    top: 1.3rem;
  }
  main .first-line-note {
    margin: 0 10rem 0 0 !important;
  }
  main aside {
    position: relative;
    margin-left: 4.5rem;
    margin-bottom: 0;
  }
  main .menu-card__first table .first-caption::before {
    bottom: 19.5rem;
    width: 15%;
  }
  main .menu-card__first table .second-caption::before {
    bottom: -1rem;
    width: 27.5%;
  }
  main .menu-card__first table .third-caption::before {
    bottom: -17.5rem;
    width: 37%;
  }
  main .menu-card__second table caption {
    font-size: 15.38462px;
  }
  main .menu-card__second table .first-caption::before {
    bottom: 21rem;
    width: 53%;
  }
  main .menu-card__second table .second-caption::before {
    bottom: 9.8rem;
    width: 38%;
  }
  main .menu-card__second table .third-caption::before {
    bottom: -5.3rem;
    width: 47%;
  }
  main .menu-card__second #line-chic {
    margin: 0;
    top: 1rem;
    width: 16%;
  }
  main .menu-card__second .first-line-chic {
    margin: 0 13rem 0 0 !important;
  }
  main .menu-card__third .first-line-delice, main .menu-card__fourth .first-line-delice {
    margin: 0 13rem 0 0 !important;
  }
  main .menu-card__third table .td, main .menu-card__fourth table .td {
    padding-right: 0 !important;
  }
  main .menu-card__third table .first-caption::before, main .menu-card__fourth table .first-caption::before {
    bottom: 20.8rem;
    width: 52%;
  }
  main .menu-card__third table .second-caption::before, main .menu-card__fourth table .second-caption::before {
    bottom: 8.3rem;
    width: 48%;
  }
  main .menu-card__third table .third-caption::before, main .menu-card__fourth table .third-caption::before {
    bottom: -7rem;
    width: 46%;
  }
  main .menu-card__fourth table .first-caption::before {
    bottom: 20.7rem;
    width: 21%;
  }
  main .menu-card__fourth table .second-caption::before {
    bottom: 5.5rem;
    width: 44%;
  }
  main .menu-card__fourth table .third-caption::before {
    bottom: -9.8rem;
    width: 48%;
  }
  main .mentions-legales {
    margin: 0 0 2rem 0;
  }
  main .mentions-legales h5 {
    margin: 2rem;
    font-size: 24px;
  }
  main .mentions-legales h6 {
    font-size: 20px;
  }
  main .mentions-legales p, main .mentions-legales a, main .mentions-legales li {
    font-size: 13.33333px;
    line-height: 1rem;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  body h1 {
    font-size: 60px;
  }
  body .menu-card {
    width: 100%;
  }
  body .menu-card .row li {
    margin: 0 1rem;
  }
  body footer .wiggle-effect {
    -webkit-animation-name: wiggle;
            animation-name: wiggle;
    -webkit-animation-duration: 100ms;
            animation-duration: 100ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  body aside {
    width: 50%;
  }
  body aside p span {
    left: 32rem;
  }
  body aside p span:nth-child(1) {
    left: 31.5rem;
  }
  body aside p span:nth-child(3) {
    left: 32.5rem;
  }
  body main {
    width: 90%;
  }
  body main aside {
    width: 92%;
  }
  body main .card {
    font-size: 26px;
  }
  body main .card .card__first--title #text-transform__title, body main .card #card-first--title #text-transform__title {
    font-size: 60px;
  }
  body main .card table {
    width: 100%;
    border-spacing: 1rem;
  }
  body main .card table caption {
    margin: 0;
    font-size: 40px;
  }
  body main #line-note, body main #line-delice, body main #line-palette {
    margin: 0;
    top: 2.4rem;
  }
  body main #line-chic {
    margin: 0;
    top: 2rem;
    width: 18%;
  }
  body main .first-line-note {
    margin: 0 18rem 0 0 !important;
  }
  body main .first-line-chic {
    margin: 0 15em 0 0 !important;
  }
  body main .first-line-delice, body main .first-line-palette {
    margin: 0 16em 0 0 !important;
  }
  body main .menu-card__second table caption {
    font-size: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */