@media (max-width:$breakpoint-tablet) and (min-width:538px){
    body{
        h1{
            font-size: $text-size*3;
        }
        .menu-card{
            width: 100%;
            .row{
                li{
                    margin:0 1rem;
                }
            }
        }
        footer {
            .wiggle-effect{
                animation-name: wiggle; 
                animation-duration:100ms;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }   
        }
        aside{
            width:50%;
            p{
                span{
                    left:32rem;
                    &:nth-child(1){
                        left:31.5rem;
                    }
                    &:nth-child(3){
                        left:32.5rem;
                    }
                }
            }
        }
        main{
            width:90%;
            aside{
                width: 92%;
            }
            .card{
                font-size:$text-size*1.3;
                .card__first--title, #card-first--title{
                    #text-transform__title{
                        font-size: $text-size*3;
                    }
                }
                table{
                    width: 100%;
                    border-spacing: 1rem;
                    caption{
                        margin:0;
                        font-size: $text-size*2;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            #line-note, #line-delice, #line-palette{
                margin:0;
                top:2.4rem;
            }
            #line-chic{
                margin: 0;
                top:2rem;
                width: 18%;
            }
            .first-line-note{
                margin: 0 18rem 0 0!important;
            }
            .first-line-chic{
                margin: 0 15em 0 0!important;
            }
            .first-line-delice, .first-line-palette{
                margin: 0 16em 0 0!important;
            }
            .menu-card__second{
                table{
                    caption{
                        font-size: $text-size*1.5;
                    }
                }
            }      
        }
    }
}

/*For tablet pro*/
@media (min-width:$breakpoint-tablet--pro) and (max-width:1400px){
    body{
        h1{
            font-size: $text-size*3;
        }
        .menu-card{
            width: 100%;
            .row{
                li{
                    margin:0 1rem;
                }
                .menu-card__second{
                    h2{
                        font-size: $text-size*2.1;
                    }
                }
            }
        }
        footer {
            .wiggle-effect{
                animation-name: wiggle; 
                animation-duration:100ms;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }   
        }
        aside{
            p{
                width: 120%;
                span{
                    left:32rem;
                    top:105.5rem;
                    &:nth-child(1){
                        left:31.5rem;
                    }
                    &:nth-child(3){
                        left:32.5rem;
                    }
                }
            }
        }
        main{
            width:90%;
            aside{
                width: 92%;
            }
            .card{
                font-size:$text-size*1.3;
                .card__first--title, #card-first--title{
                    #text-transform__title{
                        font-size: $text-size*3;
                    }
                }
                table{
                    width: 100%;
                    border-spacing: 1rem;
                    caption{
                        margin:0;
                        font-size: $text-size*2;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            #line-note, #line-palette, #line-delice{
                margin:0;
                top:2.4rem;
                width: 30%;
            }
            #line-delice, #line-palette{
                width: 20%;
            }
            #line-chic{
                margin: 0;
                top:2rem;
                width: 22%;
            }
            .first-line-note{
                margin: 0 18rem 0 0!important;
            }
            .first-line-chic{
                margin: 0 18em 0 0!important;
            }
            .first-line-delice, .first-line-palette{
                margin: 0 20em 0 0!important;
            }
            .menu-card__second{
                table{
                    caption{
                        font-size: $text-size*1.5;
                    }
                }
            }
        }
    }
}

@media (min-width:1366px) and (max-width:1400px){
    body{
        aside{
            p{
                span{
                    left:43rem;
                    &:nth-child(1){
                        left:42rem;
                    }
                    &:nth-child(3){
                        left:44rem;
                    }
                }
            }
        }
    }
}